@media screen and (min-width: 400px) {
  .calculators__items {
    display: grid;
    background-color: #131313;
    height: 40rem;
    width: 20em;
    border-radius: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 4.5em);
    gap: 10px;
  }
  .calculators__items .landscape__buttons {
    display: none;
  }
  .calculators__items #black__spacr {
    grid-column: 1/5;
    grid-row: 1/1;
  }
  .calculators__items #answer__box {
    grid-column: 1/5;
    grid-row: 2/2;
  }
  .calculators__items #AC {
    grid-column: 1/2;
    grid-row: 3/3;
  }
  .calculators__items #fractions {
    grid-column: 2/3;
    grid-row: 3/3;
  }
  .calculators__items #percentage {
    grid-column: 3/4;
    grid-row: 3/3;
  }
  .calculators__items #divide {
    grid-column: 4/5;
    grid-row: 3/3;
  }
  .calculators__items #seven {
    grid-column: 1/2;
    grid-row: 4/4;
  }
  .calculators__items #eight {
    grid-column: 2/3;
    grid-row: 4/4;
  }
  .calculators__items #nine {
    grid-column: 3/4;
    grid-row: 4/4;
  }
  .calculators__items #times {
    grid-column: 4/5;
    grid-row: 4/4;
  }
  .calculators__items #four {
    grid-column: 1/2;
    grid-row: 5/5;
  }
  .calculators__items #five {
    grid-column: 2/3;
    grid-row: 5/5;
  }
  .calculators__items #six {
    grid-column: 3/4;
    grid-row: 5/5;
  }
  .calculators__items #minus {
    grid-column: 4/5;
    grid-row: 5/5;
  }
  .calculators__items #one {
    grid-column: 1/2;
    grid-row: 6/6;
  }
  .calculators__items #two {
    grid-column: 2/3;
    grid-row: 6/6;
  }
  .calculators__items #three {
    grid-column: 3/4;
    grid-row: 6/6;
  }
  .calculators__items #add {
    grid-column: 4/5;
    grid-row: 6/6;
  }
  .calculators__items #zero {
    grid-column: 1/3;
    grid-row: 7/7;
  }
  .calculators__items #point {
    grid-column: 3/4;
    grid-row: 7/7;
  }
  .calculators__items #equals {
    grid-column: 4/5;
    grid-row: 7/7;
  }
}
@media screen and (min-width: 700px) {
  .calculators__items {
    display: grid;
    background-color: #131313;
    height: 50rem;
    width: 80em;
    border-radius: 50px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 4.5em);
    gap: 10px;
    /* (mobile buttons) calculator */
    /* (PC buttons) calculator */
  }
  .calculators__items .landscape__buttons {
    display: block;
  }
  .calculators__items #black__spacr {
    grid-column: 1/11;
    grid-row: 1/1;
  }
  .calculators__items #answer__box {
    grid-column: 6/11;
    grid-row: 2/2;
  }
  .calculators__items #AC {
    grid-column: 1/2;
    grid-row: 3/3;
  }
  .calculators__items #fractions {
    grid-column: 2/3;
    grid-row: 3/3;
  }
  .calculators__items #percentage {
    grid-column: 3/4;
    grid-row: 3/3;
  }
  .calculators__items #divide {
    grid-column: 4/5;
    grid-row: 3/3;
  }
  .calculators__items #seven {
    grid-column: 1/2;
    grid-row: 4/4;
  }
  .calculators__items #eight {
    grid-column: 2/3;
    grid-row: 4/4;
  }
  .calculators__items #nine {
    grid-column: 3/4;
    grid-row: 4/4;
  }
  .calculators__items #times {
    grid-column: 4/5;
    grid-row: 4/4;
  }
  .calculators__items #four {
    grid-column: 1/2;
    grid-row: 5/5;
  }
  .calculators__items #five {
    grid-column: 2/3;
    grid-row: 5/5;
  }
  .calculators__items #six {
    grid-column: 3/4;
    grid-row: 5/5;
  }
  .calculators__items #minus {
    grid-column: 4/5;
    grid-row: 5/5;
  }
  .calculators__items #one {
    grid-column: 1/2;
    grid-row: 6/6;
  }
  .calculators__items #two {
    grid-column: 2/3;
    grid-row: 6/6;
  }
  .calculators__items #three {
    grid-column: 3/4;
    grid-row: 6/6;
  }
  .calculators__items #add {
    grid-column: 4/5;
    grid-row: 6/6;
  }
  .calculators__items #zero {
    grid-column: 1/3;
    grid-row: 7/7;
  }
  .calculators__items #point {
    grid-column: 3/4;
    grid-row: 7/7;
  }
  .calculators__items #equals {
    grid-column: 4/5;
    grid-row: 7/7;
  }
  .calculators__items #black__spacr {
    grid-column: 1/5;
    grid-row: 1/1;
  }
  .calculators__items #answer__box {
    grid-column: 1/5;
    grid-row: 2/2;
  }
  .calculators__items #AC {
    grid-column: 1/2;
    grid-row: 3/3;
  }
  .calculators__items #fractions {
    grid-column: 2/3;
    grid-row: 3/3;
  }
  .calculators__items #percentage {
    grid-column: 3/4;
    grid-row: 3/3;
  }
  .calculators__items #divide {
    grid-column: 4/5;
    grid-row: 3/3;
  }
  .calculators__items #seven {
    grid-column: 1/2;
    grid-row: 4/4;
  }
  .calculators__items #eight {
    grid-column: 2/3;
    grid-row: 4/4;
  }
  .calculators__items #nine {
    grid-column: 3/4;
    grid-row: 4/4;
  }
  .calculators__items #times {
    grid-column: 4/5;
    grid-row: 4/4;
  }
  .calculators__items #four {
    grid-column: 1/2;
    grid-row: 5/5;
  }
  .calculators__items #five {
    grid-column: 2/3;
    grid-row: 5/5;
  }
  .calculators__items #six {
    grid-column: 3/4;
    grid-row: 5/5;
  }
  .calculators__items #minus {
    grid-column: 4/5;
    grid-row: 5/5;
  }
  .calculators__items #one {
    grid-column: 1/2;
    grid-row: 6/6;
  }
  .calculators__items #two {
    grid-column: 2/3;
    grid-row: 6/6;
  }
  .calculators__items #three {
    grid-column: 3/4;
    grid-row: 6/6;
  }
  .calculators__items #add {
    grid-column: 4/5;
    grid-row: 6/6;
  }
  .calculators__items #zero {
    grid-column: 1/3;
    grid-row: 7/7;
  }
  .calculators__items #point {
    grid-column: 3/4;
    grid-row: 7/7;
  }
  .calculators__items #equals {
    grid-column: 4/5;
    grid-row: 7/7;
  }
  .calculators__items #black__spacr {
    grid-column: 1/5;
    grid-row: 1/1;
  }
  .calculators__items #answer__box {
    grid-column: 1/5;
    grid-row: 2/2;
  }
  .calculators__items #AC {
    grid-column: 1/2;
    grid-row: 3/3;
  }
  .calculators__items #fractions {
    grid-column: 2/3;
    grid-row: 3/3;
  }
  .calculators__items #percentage {
    grid-column: 3/4;
    grid-row: 3/3;
  }
  .calculators__items #divide {
    grid-column: 4/5;
    grid-row: 3/3;
  }
  .calculators__items #seven {
    grid-column: 1/2;
    grid-row: 4/4;
  }
  .calculators__items #eight {
    grid-column: 2/3;
    grid-row: 4/4;
  }
  .calculators__items #nine {
    grid-column: 3/4;
    grid-row: 4/4;
  }
  .calculators__items #times {
    grid-column: 4/5;
    grid-row: 4/4;
  }
  .calculators__items #four {
    grid-column: 1/2;
    grid-row: 5/5;
  }
  .calculators__items #five {
    grid-column: 2/3;
    grid-row: 5/5;
  }
  .calculators__items #six {
    grid-column: 3/4;
    grid-row: 5/5;
  }
}
@media screen and (min-width: 400px) {
  .calculator,
.grid__items,
.numbers,
.answer-bar,
.symbols {
    border-radius: 500px;
    font-size: 2.5em;
    text-align: center;
  }

  .grid__items,
.numbers,
.answer-bar {
    color: #fdfdfd;
    font-size: bold;
  }
}
@media screen and (min-width: 400px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .calculator-container {
    border: 10px solid #b9b9b9;
    border-radius: 60px;
  }

  .symbols {
    background-color: #b9b9b9;
  }

  .grid__items {
    background-color: orange;
  }

  .numbers {
    background-color: #494949;
  }

  .answer-bar {
    background-color: #131313;
  }
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #fdfdfd;
}