@import "./assets/_grid";
@import "./assets/_typography";
@import "./assets/_variations";
@import "./assets/main.scss";

* {
    box-sizing: border-box;
    font-family: $primary-font-family;
    background-color: $fifth-color;
}
