@import "./assets/grid";
@import "./assets/typography";
@import "./assets/variations";
@import "./assets/main.scss";

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: #fdfdfd;
}
