@import "./variations";

$primary-font-family: 'Inter', sans-serif;

@media screen and (min-width: 400px) {  

    .calculator,
    .grid__items,
    .numbers,
    .answer-bar,
    .symbols,
    .landscape__buttons
    {
        border-radius: 500px;
        font-size: 2.5em;
        text-align: center;
    }

    .landscape__buttons {
        font-size: 1.3em;
    }

    .grid__items,
    .numbers,
    .answer-bar, 
    .landscape__buttons {
        color: $fifth-color;
    }
}