@media screen and (min-width: 400px) {  
    main {
        display: flex;
        justify-content: center;
        align-items: center;

        .calculator-container {
            border: 10px solid $quatertiary-color;
            border-radius: 60px;

        }
        }    

        .symbols{
            background-color: $quatertiary-color;
        }
        .grid__items {
            background-color: $tertiary-color;
        }
        .numbers {
            background-color: $secondary-color;
        }
        .answer-bar {
            background-color: $primary-color;
        }

        .landscape__buttons {
           background-color: $sixth-color;
        }

    }


